$theme-colors: (
  "base": #204051,
  "secondary": #3b6978,
  "hover": #cae8d5,
  "nav": rgba(32, 64, 81, 0.98),
);
$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 730px,
  lg: 1000px,
  xl: 1280px,
);
@import "~bootstrap/scss/bootstrap.scss";
